html {
  background-color: greenyellow;
}

.Cornel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  color: purple;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: purple;
}

p {
  font-size: larger;
  color: magenta;
}

p.more-content {
  background-color: grey;
}

#something-else {
  border: 5px dashed #ffe600;
}

.mario {
  width: 10%;
  display: block;
  margin: 0 auto;
  opacity: 60%;
}
body {
  background-image: url(22.jpg);
}
ol {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
ul {
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
p {
  font-size: x-large;
  color: black;
}
li {
  font-size: x-large;
  color: black;
}
